<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Flow</title>
</head>
<body>
    <h1>Control Flow Example:-</h1>
    <ul>
        {% for i in mylist %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>

    <ul>
        {%for pup in puppies%}
        <li>{{pup}}</li>
        {%endfor%}
    </ul>

    {% if 'Rufus' in puppies %}
    <p>Found You Rufus</p>
    {% else %}
    <p>Hmm. Rufus is not in this list!</p>
    {% endif %}

    {% if user_log %}
    <p>Good! You Are Logged In</p>
    {% else %}
    <p>Please log in!</p>
    {% endif %}
</body>
</html>